.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: slategray;
}

.calculator {
  display: inline-block;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  user-select: none;
}

.display {
  background-color: #222;
  color: #fff;
  font-size: 32px;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 24px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:active {
  background-color: #555;
}

.zero {
  grid-column: 1 / span 2;
}

.equals {
  background-color: #f66;
}

.equals:active {
  background-color: #f77;
}

.operator {
  background-color: rgb(210, 120, 64);
}

.operator:active {
  background-color: rgb(212, 135, 86);
}

.method {
  background-color: #707070;
}

.method:active {
  background-color: #838383;
}
